// nextflow.config

params {
    plink_pheno_type = "binary"  // Change to "continuous" if using a continuous trait
    plink_bfile = "/hpcfs/users/a1236780/Repos/LiPGS/ConLiGen/Conligen_filtered_withrsid"
    plink_pheno_file = "/hpcfs/users/a1236780/Repos/LiPGS/ConLiGen/ConLiGen_phenotypes_2021_Niguse_withPCs_Country_updated.txt"
    plink_covar_file = "/hpcfs/users/a1236780/Repos/LiPGS/ConLiGen/covariates_for_adjustment.txt"
    plink_covar_name = "Age,Sex,Chip,zPC1,zPC2,zPC3,zPC4"

    prscs_path = "/hpcfs/users/a1236780/Repos/LiPGS/src/PRScs.py"  // Replace with the correct path to PRScs
    prscs_ref_dir = "/hpcfs/users/a1236780/Repos/PGS/PRScs/LD_reference/1KG/ldblk_1kg_eur"

    n_folds = 5  // Number of folds for cross-validation (e.g., 5-fold)
    n_gwas = 1000  // Example value; adjust as needed
}
